* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.App {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: antiquewhite;
}

.chessBoard {
	height: 30rem;
	width: 30rem;
	display: grid;
	grid-template-rows: repeat(8, 1fr);
	border: 0.2rem solid black;
}

.row {
	display: flex;
}

.square {
	border: 0.1rem solid black;
	height: 100%;
	width: 100%;
}

.row:nth-child(even) .square:nth-child(even) {
	background-color: black;
}


.row:nth-child(odd) .square:nth-child(odd) {
	background-color: black;
}