* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
}


.App {
	width: 20rem;
	height: 20rem;
	padding: 0.2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

img {
	width: 100%;
	padding: 0.2rem;
	border-color: black;
}

h2 p {
	width: max-content;
	height: max-content;
}