.container {
    display: flex;
    justify-content: center;
}

div {
    padding: .2rem;
}

.left {
    width: 25vw;
    border-right: 0.4em solid blue;
}

.right {
    width: 25vw;
}

.noStyle {
    list-style: none;
}

.Bold {
    font-weight: bolder;
}

fieldset {
    margin: 0 auto;
    width: fit-content;

}

legend, fieldset {
    color: blue;
}

legend {
    margin: 0 auto;
    padding: 0;
}

h4 {
    margin: -1.5rem 1rem 2rem 20rem;
}
