.container {
    width: 50vw;
    margin: 0 auto;
}

#options {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

#question {
    font-size: larger;
    padding: 0.5rem;
}

.wrapper {
    padding: 0.9rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    border: 0.2rem solid black;
}

.correct {
    background: green;
}

.incorrect {
    background: red;
}